@font-face {
  font-family: 'Impact';
  src: url('../fonts/5200.eot?') format('eot'), url('../fonts/5200.woff') format('woff'), url('../fonts/5200.ttf') format('truetype'), url('../fonts/5200.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'helveticaneuecyr-light';
  src: url('../fonts/helveticaneuecyr-light-webfont.eot?') format('eot'), url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'), url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype'), url('../fonts/helveticaneuecyr-light-webfont.svg#svgFontName') format('svg');
}
@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url('../fonts/HelveticaNeueCyr-Roman.eot?') format('eot'), url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Roman.svg#svgFontName') format('svg');
}
/* Helper classes
   ========================= */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after,
.container:after {
  clear: both;
}
.clearfix,
.container {
  *zoom: 1;
}
.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
/* Base styles
   ========================= */
* {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
  min-width: 1200px;
}
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.portfolio-item {
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  display: none;
  height: 950px;
  overflow: hidden;
  position: absolute;
  background: url("../image/portfolio_bg_01.jpg") top center no-repeat;
  webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.portfolio-item.show {
  display: block;
}
.portfolio-item .container {
  height: 100%;
  z-index: 100;
}
.portfolio-item .portfolio-box {
  width: 375px;
  color: #cccccc;
  font-size: 16px;
  position: absolute;
  background: url("../image/portfolio-box-pattern.png");
}
.portfolio-item .portfolio-box .portfolio-box-inner {
  width: 100%;
  padding: 25px 30px;
  position: relative;
}
.portfolio-item .portfolio-box .portfolio-box-inner:before {
  width: 92px;
  height: 40px;
  content: " ";
  position: absolute;
}
.portfolio-item .portfolio-box.box-left {
  left: 0;
  top: 72px;
}
.portfolio-item .portfolio-box.box-left .portfolio-box-inner:before {
  top: 64px;
  left: 375px;
  background: url("../image/portfolio-box-left.png") 0 0 no-repeat;
}
.portfolio-item .portfolio-box.box-right {
  right: 0;
  bottom: 360px;
}
.portfolio-item .portfolio-box.box-right .portfolio-box-inner:before {
  top: 64px;
  left: -92px;
  background: url("../image/portfolio-box-right.png") 0 0 no-repeat;
}
.portfolio-item .portfolio-box .portfolio-box-title {
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
  font-family: 'Impact';
}
.portfolio {
  height: 950px;
  overflow: hidden;
  position: relative;
  background: url("../image/slider_bg.jpg") top center no-repeat;
  webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.portfolio .container {
  z-index: 100;
}
.portfolio .portfolio-scroll {
  left: 50%;
  z-index: 900;
  bottom: 40px;
  width: 16px;
  height: 50px;
  cursor: pointer;
  margin-left: -8px;
  position: absolute;
  background: url("../image/icon-scroll.png") 0 0 no-repeat;
}
.portfolio .slider {
  z-index: 100;
  width: 100%;
  height: 950px;
  overflow: hidden;
  position: relative;
}
.portfolio .slider .slider-item {
  color: #fff;
  float: left;
  width: 100%;
  height: 950px;
  outline: none;
  padding-top: 240px;
  position: relative;
}
.portfolio .slider .slider-item.item1 {
  background: url("../image/slide_01.png") top center no-repeat;
}
.portfolio .slider .slider-item.item2 {
  background: url("../image/slide_02.png") top center no-repeat;
}
.portfolio .slider .slider-item.item3 {
  background: url("../image/slide_03.png") top center no-repeat;
}
.portfolio .slider .slider-item.item4 {
  background: url("../image/slide_04.png") top center no-repeat;
}
.portfolio .slider .slider-item.item5 {
  background: url("../image/slide_05.png") top center no-repeat;
}
.portfolio .slider .slider-title {
  color: #fff;
  font-size: 40px;
  line-height: 50px;
  font-family: 'Impact';
  margin: 0 140px 20px 520px;
}
.portfolio .slider .slider-text {
  color: #cccccc;
  font-size: 16px;
  margin: 0 140px 0 520px;
}
.portfolio .slider-detail {
  left: 0;
  right: 0;
  bottom: 175px;
  position: absolute;
}
.portfolio .slider-detail .container {
  z-index: 600;
}
.portfolio .slider-detail .skills {
  padding: 0;
  float: left;
  list-style: none;
  margin: 0 0 0 80px;
}
.portfolio .slider-detail .skills li {
  float: left;
  cursor: pointer;
  margin-right: 29px;
  background: url("../image/portfolio-sprite.png") no-repeat;
}
.portfolio .slider-detail .skills li.item1 {
  width: 68px;
  height: 71px;
  background-position: 0 0;
}
.portfolio .slider-detail .skills li.item1:hover {
  background-position: 0 -150px;
}
.portfolio .slider-detail .skills li.item2 {
  width: 71px;
  height: 71px;
  background-position: -97px 0;
}
.portfolio .slider-detail .skills li.item2:hover {
  background-position: -97px -150px;
}
.portfolio .slider-detail .skills li.item3 {
  width: 70px;
  height: 71px;
  background-position: -193px 0;
}
.portfolio .slider-detail .skills li.item3:hover {
  background-position: -193px -150px;
}
.portfolio .slider-detail .skills li.item4 {
  width: 71px;
  height: 71px;
  background-position: -290px 0;
}
.portfolio .slider-detail .skills li.item4:hover {
  background-position: -290px -150px;
}
.portfolio .slider-detail .skills li.item5 {
  width: 68px;
  height: 71px;
  background-position: -387px 0;
}
.portfolio .slider-detail .skills li.item5:hover {
  background-position: -387px -150px;
}
.portfolio .slider-detail .slider-view {
  color: #fff;
  float: right;
  width: 309px;
  height: 48px;
  outline: none;
  display: block;
  cursor: pointer;
  font-size: 20px;
  line-height: 30px;
  margin-right: 80px;
  font-family: 'Impact';
  text-decoration: none;
  padding: 9px 50px 9px 25px;
  text-shadow: -1px 3px 3px rgba(0, 0, 0, 0.35);
  background: url("../image/portfolio-sprite.png") 0 -90px no-repeat;
}
.portfolio .slider-detail .slider-view:active {
  top: 1px;
  position: relative;
}
.portfolio .portfolio-nav {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.portfolio .slider-nav {
  top: 450px;
  width: 37px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  background: url("../image/slider-nav.png") no-repeat;
}
.portfolio .slider-nav.prev {
  left: 0;
  z-index: 10;
  background-position: 0 0;
}
.portfolio .slider-nav.next {
  right: 0;
  z-index: 10;
  background-position: -37px 0;
}
.portfolio-polygon {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  position: absolute;
}
.portfolio-polygon.polygon01 {
  background: url("../image/polygon01.png") top center no-repeat;
}
.portfolio-polygon.polygon02 {
  background: url("../image/polygon02.png") top center no-repeat;
}
.portfolio-polygon.polygon03 {
  background: url("../image/polygon03.png") top center no-repeat;
}
.block01 {
  height: 950px;
  background: url("../image/block01_bg.jpg") top center no-repeat;
  webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.block01 .container {
  height: 100%;
  padding-top: 260px;
}
.block01 .logo {
  top: 0;
  left: 0;
  width: 186px;
  height: 177px;
  position: absolute;
  background: url("../image/4u_logo.png") 0 0 no-repeat;
}
.block01 .top-contact {
  top: 0;
  right: 0;
  width: 450px;
  text-align: right;
  position: absolute;
  padding-top: 19px;
}
.block01 .top-phone {
  height: 56px;
  color: #0f0f0f;
  font-size: 46px;
  line-height: 56px;
  font-family: 'Impact';
  padding-left: 80px;
  margin-bottom: 25px;
  display: inline-block;
  background: url("../image/icon-phone.png") left center no-repeat;
}
.block01 h1 {
  padding: 0;
  height: 76px;
  width: 1110px;
  font-size: 40px;
  line-height: 40px;
  margin: 0 auto 30px auto;
  background: url("../image/block01_title.png") top center no-repeat;
}
.block01 .text {
  width: 850px;
  height: 31px;
  margin: 0 auto 30px auto;
  background: url("../image/block01_text.png") top center no-repeat;
}
.block01 .btn-play-inner {
  width: 440px;
  height: 340px;
  margin-left: 430px;
  position: relative;
  padding: 50px 140px 0 70px;
  background: url("../image/btn-play.png") 0 0 no-repeat;
}
.block01 .btn-play-inner .btn-play {
  width: 100%;
  height: 100%;
  color: #242424;
  display: block;
  cursor: pointer;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  padding-top: 260px;
  font-family: 'Impact';
  text-decoration: none;
  text-transform: uppercase;
}
.block01 .btn-scroll {
  left: 50%;
  bottom: 40px;
  width: 16px;
  height: 50px;
  cursor: pointer;
  margin-left: -8px;
  position: absolute;
  background: url("../image/btn-scroll.png") 0 0 no-repeat;
}
.block_contact {
  height: 950px;
  background: url("../image/block_contact_bg.jpg") top center no-repeat;
}
.block_contact .container {
  height: 100%;
}
.block_contact .form-box {
  width: 522px;
  margin: 0 auto;
  padding-top: 230px;
}
.block_contact .logo {
  left: 0;
  bottom: 0;
  width: 263px;
  height: 164px;
  position: absolute;
  background: url("../image/contact-logo.png") 0 0 no-repeat;
}
.block_contact .text {
  left: 0;
  right: 0;
  bottom: 70px;
  color: #404040;
  font-size: 14px;
  position: absolute;
  font-family: 'HelveticaNeueCyr-Roman';
}
.block_contact .politic {
  color: #e5282b;
  text-decoration: underline;
}
.block_contact .politic:hover {
  text-decoration: none;
}
.btn {
  color: #fff;
  width: 413px;
  height: 64px;
  border: none;
  outline: none;
  font-size: 27px;
  line-height: 44px;
  position: relative;
  font-family: 'Impact';
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 155px 10px 50px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.35);
  background: url("../image/sprite.png") 0 0 no-repeat;
}
.btn:hover {
  background-position: 0 -64px;
}
.btn:active {
  top: 1px;
}
.video-inner {
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  border: 1px solid #ccc;
}
.video-inner iframe,
.video-inner object,
.video-inner embed {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.popup-box {
  width: 800px;
  height: auto;
}
.cform ol {
  margin: 0;
  list-style: none;
  padding: 0 0 50px 0;
}
.cform li {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}
.cform li:nth-child(1) input[type="text"] {
  background-position: 0 -101px;
}
.cform li:nth-child(2) input[type="text"] {
  background-position: 0 -202px;
}
.cform li:nth-child(3) input[type="text"] {
  background-position: 0 -303px;
}
.cform label {
  display: none;
}
.cform input[type="text"] {
  margin: 0;
  width: 522px;
  height: 101px;
  border: none;
  outline: none;
  color: #0f0f0f;
  display: block;
  overflow: hidden;
  font-size: 36px;
  text-align: left;
  line-height: 41px;
  font-family: 'helveticaneuecyr-light';
  padding: 30px 15px 30px 110px;
  background: transparent url("../image/form-pattern.png") 0 0 no-repeat;
}
.cform input[type="text"]:focus {
  background-color: rgba(145, 145, 145, 0.1);
}
.cform p {
  text-align: center;
}
.sendbutton {
  color: #fff;
  width: 413px;
  height: 64px;
  border: none;
  outline: none;
  font-size: 27px;
  line-height: 44px;
  position: relative;
  font-family: 'Impact';
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 155px 10px 50px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.35);
  background: url("../image/sprite.png") 0 0 no-repeat;
}
.sendbutton:hover {
  background-position: 0 -64px;
}
.sendbutton:active {
  top: 1px;
}
/* Typography
   ========================= */
p {
  padding: 0;
  margin: 0 0 10px 0;
}
a {
  color: #e5282b;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.text-right {
  text-align: center;
}
