@font-face {
  font-family: 'Impact';
  src: url('../fonts/5200.eot?') format('eot'), url('../fonts/5200.woff') format('woff'), url('../fonts/5200.ttf') format('truetype'), url('../fonts/5200.svg#svgFontName') format('svg');
}
/* Helper classes
   ========================= */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after,
.container:after {
  clear: both;
}
.clearfix,
.container {
  *zoom: 1;
}
.img-responsive {
  display: block;
  width: 100% \9;
  max-width: 100%;
  height: auto;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
/* Base styles
   ========================= */
* {
  webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
html {
  font-size: 1em;
  line-height: 1.4;
}
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.portfolio-item {
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  display: none;
  height: 950px;
  overflow: hidden;
  position: absolute;
  background: url("../image/portfolio_bg_01.jpg") top center no-repeat;
  webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.portfolio-item.show {
  display: block;
}
.portfolio-item .container {
  height: 100%;
  z-index: 100;
}
.portfolio-item .portfolio-box {
  width: 375px;
  color: #cccccc;
  font-size: 16px;
  position: absolute;
  background: url("../image/portfolio-box-pattern.png");
}
.portfolio-item .portfolio-box .portfolio-box-inner {
  width: 100%;
  padding: 25px 30px;
  position: relative;
}
.portfolio-item .portfolio-box .portfolio-box-inner:before {
  width: 92px;
  height: 40px;
  content: " ";
  position: absolute;
}
.portfolio-item .portfolio-box.box-left {
  left: 0;
  top: 72px;
}
.portfolio-item .portfolio-box.box-left .portfolio-box-inner:before {
  top: 64px;
  left: 375px;
  background: url("../image/portfolio-box-left.png") 0 0 no-repeat;
}
.portfolio-item .portfolio-box.box-right {
  right: 0;
  bottom: 360px;
}
.portfolio-item .portfolio-box.box-right .portfolio-box-inner:before {
  top: 64px;
  left: -92px;
  background: url("../image/portfolio-box-right.png") 0 0 no-repeat;
}
.portfolio-item .portfolio-box .portfolio-box-title {
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 10px;
  font-family: 'Impact';
}
.portfolio {
  height: 950px;
  overflow: hidden;
  position: relative;
  background: url("../image/slider_bg.jpg") top center no-repeat;
  webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
.portfolio .container {
  z-index: 100;
}
.portfolio .portfolio-scroll {
  left: 50%;
  z-index: 900;
  bottom: 40px;
  width: 16px;
  height: 50px;
  cursor: pointer;
  margin-left: -8px;
  position: absolute;
  background: url("../image/icon-scroll.png") 0 0 no-repeat;
}
.portfolio .slider {
  z-index: 100;
  width: 100%;
  height: 950px;
  overflow: hidden;
  position: relative;
}
.portfolio .slider .slider-item {
  color: #fff;
  float: left;
  width: 100%;
  height: 950px;
  outline: none;
  padding-top: 240px;
  position: relative;
}
.portfolio .slider .slider-item.item1 {
  background: url("../image/slide_01.png") top center no-repeat;
}
.portfolio .slider .slider-item.item2 {
  background: url("../image/slide_02.png") top center no-repeat;
}
.portfolio .slider .slider-item.item3 {
  background: url("../image/slide_03.png") top center no-repeat;
}
.portfolio .slider .slider-item.item4 {
  background: url("../image/slide_04.png") top center no-repeat;
}
.portfolio .slider .slider-item.item5 {
  background: url("../image/slide_05.png") top center no-repeat;
}
.portfolio .slider .slider-title {
  color: #fff;
  font-size: 40px;
  line-height: 50px;
  font-family: 'Impact';
  margin: 0 140px 20px 520px;
}
.portfolio .slider .slider-text {
  color: #cccccc;
  font-size: 16px;
  margin: 0 140px 0 520px;
}
.portfolio .slider-detail {
  left: 0;
  right: 0;
  bottom: 175px;
  position: absolute;
}
.portfolio .slider-detail .container {
  z-index: 600;
}
.portfolio .slider-detail .skills {
  padding: 0;
  float: left;
  list-style: none;
  margin: 0 0 0 80px;
}
.portfolio .slider-detail .skills li {
  float: left;
  cursor: pointer;
  margin-right: 29px;
  background: url("../image/portfolio-sprite.png") no-repeat;
}
.portfolio .slider-detail .skills li.item1 {
  width: 68px;
  height: 71px;
  background-position: 0 0;
}
.portfolio .slider-detail .skills li.item2 {
  width: 71px;
  height: 71px;
  background-position: -97px 0;
}
.portfolio .slider-detail .skills li.item3 {
  width: 70px;
  height: 71px;
  background-position: -193px 0;
}
.portfolio .slider-detail .skills li.item4 {
  width: 71px;
  height: 71px;
  background-position: -290px 0;
}
.portfolio .slider-detail .skills li.item5 {
  width: 68px;
  height: 71px;
  background-position: -387px 0;
}
.portfolio .slider-detail .slider-view {
  color: #fff;
  float: right;
  width: 309px;
  height: 48px;
  outline: none;
  display: block;
  cursor: pointer;
  font-size: 20px;
  line-height: 30px;
  margin-right: 80px;
  font-family: 'Impact';
  text-decoration: none;
  padding: 9px 50px 9px 25px;
  text-shadow: -1px 3px 3px rgba(0, 0, 0, 0.35);
  background: url("../image/portfolio-sprite.png") 0 -90px no-repeat;
}
.portfolio .slider-detail .slider-view:active {
  top: 1px;
  position: relative;
}
.portfolio .portfolio-nav {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.portfolio .slider-nav {
  top: 450px;
  width: 37px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  background: url("../image/slider-nav.png") no-repeat;
}
.portfolio .slider-nav.prev {
  left: 0;
  background-position: 0 0;
}
.portfolio .slider-nav.next {
  right: 0;
  background-position: -37px 0;
}
.portfolio-polygon {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  position: absolute;
}
.portfolio-polygon.polygon01 {
  background: url("../image/polygon01.png") top center no-repeat;
}
.portfolio-polygon.polygon02 {
  background: url("../image/polygon02.png") top center no-repeat;
}
.portfolio-polygon.polygon03 {
  background: url("../image/polygon03.png") top center no-repeat;
}
/* Typography
   ========================= */
p {
  padding: 0;
  margin: 0 0 10px 0;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.text-right {
  text-align: center;
}
